<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tarea 3</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Paises</h2>
        <a th:href="@{/nuevoPais}">Nuevo Pais</a>

        <div th:if="${paises != null and !paises.empty}">

            <table border="1" cellspacing="1">
                <thead>
                    <tr>
                        <th>Id Estado</th>
                        <th>Nombre</th>
                        <th>Capital</th>
                        <th>Poblacion</th>
                        <th>Costas</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pais : ${paises}">
                        <td th:text="${pais.idEstado}"></td>
                        <td th:text="${pais.nombre}"></td>
                        <td th:text="${pais.capital}"></td>
                        <td th:text="${pais.poblacion}"></td>
                        <td th:text="${pais.costas}"></td>
                        <td><a th:href="@{/modificarPais/}+${pais.idEstado}">Modificar</a></td>
                        <td><a th:href="@{/eliminarPais/}+${pais.idEstado}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${paises == null or paises.empty}">
            No tenemos lista de paises que mostrar..
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>